@font-face {
    font-family: 'Landsans';
    src: url('../fonts/Landsans-Medium.ttf');
}

body
{
    color: #19180A;
    font-family: 'Landsans', 'Arial';
}

h3
{
    font-family: 'Landsans', 'Arial';
    color: #986B3C;
}

.navbar
{
    background-color: #19190A;
}

.nav-item
{
    color: #85CBC0;
}

.container
{
    height: 650px;
    margin-left: 15%;
    margin-right: 15%;
}

.card-img-top .team
{
    width: 350px;
    height: 350px;
}

.members
{
    align-content: center;
}

#book
{
    background-color: #986B3C;
}

#home
{
}

#aboutUs
{
}

#services
{
    background-image: white;
    background-size: cover;
}
#hometxt
{
    vertical-align: center;
}
